Repository Wall-Brew-Co/brewtility, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted, test-dependencies

Bumped stefanzweifel/git-auto-commit-action from v4.15.4 to v4.16.0.
  .github/workflows/format.yml
Labels: dotfiles, restricted

🔄 Created local '.github/workflows/clojurescript.yml' from remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: dotfiles, restricted

🔄 Synced local 'CODE_OF_CONDUCT.md' with remote 'sources/community/CODE_OF_CONDUCT.md'
  CODE_OF_CONDUCT.md
Labels: restricted

🔄 Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: dotfiles, restricted

🔄 Created local '.github/workflows/deploy_to_clojars.yml' from remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: dotfiles, restricted

🔄 Created local '.github/workflows/sync_labels.yml' from remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: dotfiles, restricted

🔄 Created local '.github/workflows/todo.yml' from remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: dotfiles, restricted

🔄 Created local '.github/labels.yml' from remote 'sources/github-actions/labels.yml'
  .github/labels.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/workflows/label.yml' with remote 'sources/github-actions/workflows/label.yml'
  .github/workflows/label.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/ISSUE_TEMPLATE/feature_request.md' with remote 'sources/github-actions/ISSUE_TEMPLATE/feature_request.md'
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: dotfiles, restricted

🔄 Synced local '.clj-kondo/config.edn' with remote 'sources/clojure/cljkondo/config.edn'
  .clj-kondo/config.edn
Labels: none

🔄 Synced local 'SECURITY.md' with remote 'sources/community/SECURITY.md'
  SECURITY.md
Labels: restricted

🔄 Synced local '.github/PULL_REQUEST_TEMPLATE.md' with remote 'sources/github-actions/PULL_REQUEST_TEMPLATE.md'
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dotfiles, restricted

🔄 Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: dotfiles, restricted

🔄 Synced local '.github/ISSUE_TEMPLATE/bug_report.md' with remote 'sources/github-actions/ISSUE_TEMPLATE/bug_report.md'
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: dotfiles, restricted

🔄 Synced file(s) with Wall-Brew-Co/rebroadcast (#57)
  .clj-kondo/config.edn
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
Labels: dotfiles, restricted

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore
  - .editorconfig

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - CODEOWNERS
  - .github/**/*
  - .cljstyle
  - SECURITY.md

test-dependencies:
  - package.json
  - package-lock.json
