Repository Wall-Brew-Co/brewtility, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted, test-dependencies

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore
  - .editorconfig

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - CODEOWNERS
  - .github/**/*
  - .cljstyle
  - SECURITY.md

test-dependencies:
  - package.json
  - package-lock.json

Update Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: dotfiles, restricted

[Format] Auto-formatting
  src/brewtility/calculations.cljc
  src/brewtility/color.cljc
  src/brewtility/precision.cljc
  src/brewtility/units.cljc
  test/brewtility/calculations_test.cljc
  test/brewtility/color_test.cljc
  test/brewtility/precision_test.cljc
  test/brewtility/runner.cljs
  test/brewtility/units_test.cljc
Labels: none

Bump org.clojure/clojurescript from 1.10.844 to 1.10.879
  project.clj
Labels: none

Update copyright year
  LICENSE
  README.md
Labels: restricted

Update copyright year (#13)
  LICENSE
  README.md
Labels: restricted

Update all CI CD jobs to use newest checkout action
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: dotfiles, restricted

Update all CI CD jobs to use newest checkout action (#19)
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: dotfiles, restricted

Fix clj-kondo config location
  .clj-kondo/config.edn
Labels: none

Bump org.clojure/clojure from 1.10.3 to 1.11.1
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.10.879 to 1.11.54
  project.clj
Labels: none

Use WallBrewBot as commit agent
  .github/workflows/dependencies.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/scheduled.yml
Labels: dotfiles, restricted

Use WallBrewBot as commit agent (#22)
  .github/workflows/dependencies.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/scheduled.yml
Labels: dotfiles, restricted

Add clj-holmes static analysis
  .github/workflows/scanner.yml
  .github/workflows/stale.yml
Labels: dotfiles, restricted

Add clj-holmes static analysis (#23)
  .github/workflows/scanner.yml
  .github/workflows/stale.yml
Labels: dotfiles, restricted

Bump org.clojure/clojure from 1.10.3 to 1.11.1
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.10.879 to 1.11.54
  project.clj
Labels: none

Bump org.clojure/clojure from 1.10.3 to 1.11.1 (#24)
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.10.879 to 1.11.57
  project.clj
Labels: none

Add PR Trigger
  .github/workflows/clojure.yml
Labels: dotfiles, restricted

Bump org.clojure/clojurescript from 1.10.879 to 1.11.57
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.10.879 to 1.11.57 (#27)
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.11.57 to 1.11.60
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.11.57 to 1.11.60 (#28)
  project.clj
Labels: none

Bump com.wallbrew/common-beer-format from 1.3.1 to 1.4.0
  project.clj
Labels: none

Bump com.wallbrew/common-beer-format from 1.3.1 to 1.4.0 (#30)
  project.clj
Labels: none

Update CI versions
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  .gitignore
Labels: dotfiles, restricted

USe common-beer-data
  project.clj
  src/brewtility/calculations.cljc
  test/brewtility/calculations_test.cljc
Labels: none

Update src/brewtility/calculations.cljc
  src/brewtility/calculations.cljc
Labels: none

Bump version
  CHANGELOG.md
  package-lock.json
  package.json
  project.clj
Labels: test-dependencies

[WB-22]: Migrate brewtility to use common-beer-format types (#31)
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  project.clj
  src/brewtility/calculations.cljc
  test/brewtility/calculations_test.cljc
Labels: dotfiles, restricted, test-dependencies

Bumped com.wallbrew/common-beer-data from 1.0.0 to 1.1.0.
  project.clj
Labels: none

Bumped com.wallbrew/common-beer-data from 1.0.0 to 1.1.0. (#32)
  project.clj
Labels: none

Bumped com.wallbrew/common-beer-format from 2.0.0 to 2.1.0.
  project.clj
Labels: none

Bumped com.wallbrew/common-beer-format from 2.0.0 to 2.1.0. (#34)
  project.clj
Labels: none

Add dependabot scanner for GitHub actions
  .clj-kondo/config.edn
  .github/dependabot.yml
  CONTRIBUTING.md
  README.md
Labels: dotfiles, restricted

Add dependabot scanner for GitHub actions (#35)
  .clj-kondo/config.edn
  .github/dependabot.yml
  CONTRIBUTING.md
  README.md
Labels: dotfiles, restricted

Bumped lein-cljsbuild/lein-cljsbuild from 1.1.7 to 1.1.8.
  project.clj
Labels: none

Bumped lein-cljsbuild/lein-cljsbuild from 1.1.7 to 1.1.8. (#39)
  project.clj
Labels: none

Delete stale.yml
  .github/workflows/stale.yml
Labels: dotfiles, restricted

Bumped stefanzweifel/git-auto-commit-action from v4.15.2 to v4.15.3.
  .github/workflows/format.yml
Labels: dotfiles, restricted
